# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем настройки PyCharm/IntelliJ IDEA
.idea/

# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем логи и временные файлы
*.log
*.tmp
